@import "../../assets/styles/global/styles.scss";
.list {
  text-decoration: none;
  color: inherit;
  & > div {
    padding: 8px 16px;
  }
}
.appBar {
  background-color: $base !important;
  color: $white !important;
}
.clinicName {
  padding-left: 28px;
  text-transform: uppercase;
}
