.items {
  margin-bottom: 28px;
}
.loader {
  position: absolute;
  top: 45%;
  left: 45%;

}
.radioContainer {
  padding-left: 8px;
  padding-top: 8px;
}
.nextButton {
  position: absolute;
  right: 28px;
  bottom: 12px;
}
