.items {
  margin-bottom: 28px;
}
.loader {
  display: flex;
  align-items: flex-end;
  padding-bottom: 4px;
}
.radioContainer {
  padding-left: 8px;
  padding-top: 8px;
}
.nextButton {
  position: absolute;
  right: 28px;
  bottom: 12px;
}
